.sumbit-button
{

  margin-top: 30px;
}
.userList ul.ant-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start
}
.AddressList.ant-list-items {
  display: flex;
  flex-direction: column;
  
}

